<!-- pan_page.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Przykładowa aplikacja Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
</head>
<body>
    <h1>Deck:</h1>
    <div class="container" id="deck-container">
        {% for card in hand %}
        <div class="card">
            <span>{{ card["value"] }}</span>
        </div>
        {% endfor %}
    </div>
    <h1><br>Your hand:</h1>
    <div class="container" id="hand-container">
        {% for card in deck %}
        <div class="card">
            <span>{{ card["value"] }}</span>
        </div>
        {% endfor %}
    </div>
    <h1><br>Your moves:</h1>
    <form action="/PAN" method="post">
    <div class="container" id="moves-container">
            {% for move in moves %}
            <button type="submit" name="move_id" value="{{ loop.index }}"> {{ loop.index }} </button>
            <div class="container-stack">
                <div class="card" style="z-index: 4; position: absolute;">
                    <span>{{ move["card"]["value"] }}</span>
                </div>
                {% for i in range(1, move["no"]) %}
                <div class="card" style="top: {{ i * 10 }}px; left: {{ i * 10 }}px; z-index: {{ move["no"] - i }}; position: absolute;">
                    <span></span>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </form>
</body>
</html>
