<!DOCTYPE html>
<html>

<head>
    <title>Przykładowa aplikacja Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <h1>Deck:</h1>
    <div class="container" id="deck-container">
        <!-- Deck cards will be loaded here via Ajax -->
    </div>
    <h1><br>Your hand:</h1>
    <div class="container" id="hand-container">
        <!-- Hand cards will be loaded here via Ajax -->
    </div>

    <h1><br>Your moves:</h1>
    <div class="container" id="moves-container">
        <!-- Moves will be loaded here via Ajax -->
    </div>

    <script>
        // Function to load "deck", "hand", and "moves" via Ajax
        function loadContent() {
            $.ajax({
                url: '/get_content',
                type: 'GET',
                success: function (data) {
                    $('#deck-container').html(data.deck);
                    $('#hand-container').html(data.hand);
                    $('#moves-container').html(data.moves);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        // Call loadContent function on page load
        $(document).ready(function () {
            loadContent();
        });
    </script>
</body>

</html>
